# Set this for the default basedir for relocatable packages
BASEDIR=/opt/riak
CLASSES=none
TZ=EST
PATH=/sbin:/usr/sbin:/usr/bin:/usr/sadm/install/bin
PKG=@@PKG@@
NAME=@@PKGNAME@@
VERSION=@@VERSION@@
CATEGORY=application
DESC=Because you need another a key/value storage engine
VENDOR=Basho Technologies
EMAIL=riak@basho.com
PKGSAV=/var/sadm/pkg/@@PKG@@/save
