{erl_opts, [debug_info, warn_untyped_record, warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.
{port_specs, [{"priv/bitcask.so", ["c_src/*.c"]}]}.

{deps, [
        {meck, "0.8.2", {git, "git://github.com/basho/meck.git", {tag, "0.8.2"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.5"}}}
       ]}.

{port_env,
 [
  {"DRV_CFLAGS",
   "-g -Wall -fPIC $ERL_CFLAGS"},

  %% Solaris specific flags
  {"solaris.*-64$", "CFLAGS", "-D_REENTRANT -m64"},
  {"solaris.*-64$", "LDFLAGS", "-m64"},

  %% OS X Leopard flags for 64-bit
  {"darwin9.*-64$", "CFLAGS", "-m64"},
  {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

  %% OS X Snow Leopard flags for 32-bit
  {"darwin10.*-32$", "CFLAGS", "-m32"},
  {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
 ]}.

{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.
