{so_name, "bitcask.so"}.

{deps, [
        {meck, ".*", {git, "git://github.com/eproxus/meck"}}
       ]}.

{port_envs, [
             %% Solaris specific flags
             {"solaris.*-64$", "CFLAGS", "-D_REENTRANT -m64"},
             {"solaris.*-64$", "LDFLAGS", "-m64"},

             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386"}

             %% Patching the nif(s) to run w. PULSE
             %% , {"CFLAGS", "$CFLAGS -DPULSE"}
             ]}.

{eunit_compile_opts, [
                      %% Uncomment the following options to enable pulse testing. Note that
                      %% this will (currently) break all tests that do NOT use Pulse. As such,
                      %% this is most useful when used w/ rebar like so:
                      %% ./rebar compile eunit app=bitcask suite=merge_pulse_qc
                      %%
                      %% Also uncomment the nif-patching in the port_envs option above!
                      %%
                      %% NOTE1: You'll have to do a "clean" to ensure everything gets compiled w/
                      %% the new flags!
                      %% NOTE2: You'll need a recent (1.25.2+) version of PULSE to run the tests
                      %% and a copy of the pulsified OTP componentes (pulse_gen, etc...)
                      %%
                      %% {d, 'PULSE'},
                      %%
                      %% {pulse_side_effect,
                      %%   [ {bitcask_nifs, keydir_new, 0}
                      %%   , {bitcask_nifs, keydir_new, 1}
                      %%   , {bitcask_nifs, keydir_mark_ready, 1}
                      %%   , {bitcask_nifs, keydir_put_int, 6}
                      %%   , {bitcask_nifs, keydir_get_int, 2}
                      %%   , {bitcask_nifs, keydir_remove, 2}
                      %%   , {bitcask_nifs, keydir_remove_int, 5}
                      %%   , {bitcask_nifs, keydir_copy, 1}
                      %%   , {bitcask_nifs, keydir_itr_int, 4}
                      %%   , {bitcask_nifs, keydir_itr_next_int, 1}
                      %%   , {bitcask_nifs, keydir_itr_release, 1}
                      %%   , {bitcask_nifs, keydir_info, 1}
                      %%   , {bitcask_nifs, keydir_release, 1}
                      %%
                      %%   , {bitcask_nifs, lock_acquire,   2}
                      %%   , {bitcask_nifs, lock_release,   1}
                      %%   , {bitcask_nifs, lock_readdata,  1}
                      %%   , {bitcask_nifs, lock_writedata, 2}
                      %%
                      %%   , {bitcask_nifs, file_open,   2}
                      %%   , {bitcask_nifs, file_close,  1}
                      %%   , {bitcask_nifs, file_sync,   1}
                      %%   , {bitcask_nifs, file_pread,  3}
                      %%   , {bitcask_nifs, file_pwrite, 3}
                      %%   , {bitcask_nifs, file_read,   2}
                      %%   , {bitcask_nifs, file_write,  2}
                      %%   , {bitcask_nifs, file_seekbof, 1}
                      %%
                      %%   , {file, '_', '_'}
                      %%   , {filelib, '_', '_'}
                      %%   , {os, '_', '_'} ]},
                      %%
                      %% {pulse_replace_module,
                      %%   [ {gen_server, pulse_gen_server}
                      %%   , {application, pulse_application}
                      %%   , {supervisor, pulse_supervisor} ]}
                     ]}.
