{so_name, "bitcask.so"}.
{erl_opts, [debug_info]}.
{deps, [
        {ebloom, "1.0.2", {hg, "http://bitbucket.org/basho/ebloom", "ebloom-1.0.2"}}
       ]}.

{port_envs, [
             %% Solaris specific flags
             {"solaris.*-64$", "CFLAGS", "-D_REENTRANT -m64"},
             {"solaris.*-64$", "LDFLAGS", "-m64"},

             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
             ]}.

{eunit_compile_opts, [
                      %% Uncomment the following options to enable pulse testing. Note that
                      %% this will (currently) break all tests that do NOT use Pulse. As such,
                      %% this is most useful when used w/ rebar like so:
                      %% ./rebar compile eunit app=bitcask suite=merge_pulse_qc
                      %%
                      %% NOTE: You'll have to do a "clean" to ensure everything gets compiled w/
                      %% the new flags!
                      %%
%                      {d, 'PULSE'},
%                      {pulse_side_effect, [{bitcask, get_filestate, '_'},
%                                           {bitcask_nifs, keydir_get, '_'}]}
                     ]}.
