Source: bitcask
Section: net
Priority: extra
Maintainer: Basho Support  <support@basho.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://basho.com/

Package: bitcask
Architecture: any
Depends: adduser, logrotate, ${shlibs:Depends}, ${misc:Depends}
Description: Because you need another a key/value storage engine
    Because you need another a key/value storage engine
