#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

package=bitcask

CFLAGS=
LDFLAGS=


build:
	# 2010-12-02: there are odd problems with get-deps in recent rebar
	# releases.  Bypassing the 'deps' target solves this problems when
	# packaging from an archive tarball.
	#ERL_FLAGS="-smp enable" make
	ERL_FLAGS="-smp enable" make compile
	touch build

clean: 
	dh_clean
	rm -f build

	# Add here commands to clean up after the build process.
	make clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	cp -R src debian/$(package)/usr/lib/riak/lib/$(package)-$(REVISION)
	cp -R ebin debian/$(package)/usr/lib/riak/lib/$(package)-$(REVISION)
	cp -R priv debian/$(package)/usr/lib/riak/lib/$(package)-$(REVISION)

binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_strip -a
	dh_compress -a
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
